// 辅助色
$color-info: #909399 !default;
$color-error: #f5222d !default;
$color-warning: #faad14 !default;
$color-primary: #00a09a !default;
$color-success: #52c41a !default;

// 组件样式
$text-color: #333;
$text-active-color: #999;
$text-hover-color: #999;