// 辅助色
$color-info: #909399 !default;
$color-error: #f5222d !default;
$color-warning: #faad14 !default;
$color-primary: #00a09a !default;
$color-success: #52c41a !default;

// 浅色
$color-info-light: #f4faff;
$color-error-light: #e2c8c8;
$color-warning-light: #ffeccb;
$color-primary-light: #cfe6dc;
$color-success-light: #f2fdeb;
$text-color-info-light: #d2d9e4;
$text-color-error-light: #ffe4e4;
$text-color-warning-light: #ffeeca;
$text-color-primary-light: #a9c5c0;
$text-color-success-light: #e1f7d4;

// 组件样式
$text-color: #333;
$text-active-color: #999;
$text-hover-color: #999;