@import 'color';

body {
  font: 28rrpx / 1 Arial, Helvetica, sans-serif;
}

:root {
  --tino-color-white: #ffffff;
  --tino-color-black: #000000;
  --tino-color-primary: #409eff;
  --tino-color-primary-light-3: #79bbff;
  --tino-color-primary-light-5: #a0cfff;
  --tino-color-primary-light-7: #c6e2ff;
  --tino-color-primary-light-8: #d9ecff;
  --tino-color-primary-light-9: #ecf5ff;
  --tino-color-primary-dark-2: #337ecc;
  --tino-color-success: #67c23a;
  --tino-color-success-light-3: #95d475;
  --tino-color-success-light-5: #b3e19d;
  --tino-color-success-light-7: #d1edc4;
  --tino-color-success-light-8: #e1f3d8;
  --tino-color-success-light-9: #f0f9eb;
  --tino-color-success-dark-2: #529b2e;
  --tino-color-warning: #e6a23c;
  --tino-color-warning-light-3: #eebe77;
  --tino-color-warning-light-5: #f3d19e;
  --tino-color-warning-light-7: #f8e3c5;
  --tino-color-warning-light-8: #faecd8;
  --tino-color-warning-light-9: #fdf6ec;
  --tino-color-warning-dark-2: #b88230;
  --tino-color-danger: #f56c6c;
  --tino-color-danger-light-3: #f89898;
  --tino-color-danger-light-5: #fab6b6;
  --tino-color-danger-light-7: #fcd3d3;
  --tino-color-danger-light-8: #fde2e2;
  --tino-color-danger-light-9: #fef0f0;
  --tino-color-danger-dark-2: #c45656;
  --tino-color-error: #f56c6c;
  --tino-color-error-light-3: #f89898;
  --tino-color-error-light-5: #fab6b6;
  --tino-color-error-light-7: #fcd3d3;
  --tino-color-error-light-8: #fde2e2;
  --tino-color-error-light-9: #fef0f0;
  --tino-color-error-dark-2: #c45656;
  --tino-color-info: #909399;
  --tino-color-info-light-3: #b1b3b8;
  --tino-color-info-light-5: #c8c9cc;
  --tino-color-info-light-7: #dedfe0;
  --tino-color-info-light-8: #e9e9eb;
  --tino-color-info-light-9: #f4f4f5;
  --tino-color-info-dark-2: #73767a;
  --tino-bg-color: #ffffff;
  --tino-bg-color-page: #f2f3f5;
  --tino-bg-color-overlay: #ffffff;
  --tino-text-color-primary: #303133;
  --tino-text-color-regular: #606266;
  --tino-text-color-secondary: #909399;
  --tino-text-color-placeholder: #a8abb2;
  --tino-text-color-disabled: #c0c4cc;
  --tino-border-color: #dcdfe6;
  --tino-border-color-light: #e4e7ed;
  --tino-border-color-lighter: #ebeef5;
  --tino-border-color-extra-light: #f2f6fc;
  --tino-border-color-dark: #d4d7de;
  --tino-border-color-darker: #cdd0d6;
  --tino-fill-color: #f0f2f5;
  --tino-fill-color-light: #f5f7fa;
  --tino-fill-color-lighter: #fafafa;
  --tino-fill-color-extra-light: #fafcff;
  --tino-fill-color-dark: #ebedf0;
  --tino-fill-color-darker: #e6e8eb;
  --tino-fill-color-blank: #ffffff;
  --tino-box-shadow: 0rpx 24rpx 64rpx 8rpx rgba(0, 0, 0, .04), 0rpx 16rpx 40rpx rgba(0, 0, 0, .08);
  --tino-box-shadow-light: 0rpx 0rpx 24rpx rgba(0, 0, 0, .12);
  --tino-box-shadow-lighter: 0rpx 0rpx 12rpx rgba(0, 0, 0, .12);
  --tino-box-shadow-dark: 0rpx 32rpx 96rpx 32rpx rgba(0, 0, 0, .08), 0rpx 24rpx 64rpx rgba(0, 0, 0, .12), 0rpx 16rpx 32rpx -16rpx rgba(0, 0, 0, .16);
  --tino-disabled-bg-color: var(--tino-fill-color-light);
  --tino-disabled-text-color: var(--tino-text-color-placeholder);
  --tino-disabled-border-color: var(--tino-border-color-light);
  --tino-overlay-color: rgba(0, 0, 0, .8);
  --tino-overlay-color-light: rgba(0, 0, 0, .7);
  --tino-overlay-color-lighter: rgba(0, 0, 0, .5);
  --tino-mask-color: rgba(255, 255, 255, .9);
  --tino-mask-color-extra-light: rgba(255, 255, 255, .3);
  --tino-border-width: 2rpx;
  --tino-border-style: solid;
  --tino-border-color-hover: var(--tino-text-color-disabled);
  --tino-border: var(--tino-border-width) var(--tino-border-style) var(--tino-border-color);
  --tino-svg-monochrome-grey: var(--tino-border-color);
}

:root {
  --text-color: var(--tino-text-color-primary);
  --text-color-light: var(--tino-text-color-regular);
  --text-color-lighter: var(--tino-text-color-secondary);
  --brand-color: var(--tino-color-primary);
  --brand-color-light: var(--tino-color-primary-light-1);
  --bg-brand-color: var(--tino-color-primary-light-9);
  --bg-color: var(--tino-bg-color);
  --bg-color-rgb: 255, 255, 255;
  --bg-color-soft: #fafafa;
  --bg-color-mute: #f2f2f2;
  --border-color: var(--tino-border-color);
  --border-color-light: var(--tino-border-color-lighter);
  --font-family: var(--tino-font-family);
  --font-family-mono: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  --success-color: var(--tino-color-success);
  --warning-color: var(--tino-color-warning);
  --danger-color: var(--tino-color-danger);
  --header-height: 55rpx;
  --nav-height: 55rpx;
  --vp-screen-max-width: 1362rpx;
  --vp-sidebar-width-mobile: 320rpx;
  --vp-sidebar-width-small: 266rpx;
  --sidebar-width-sm: 16rem;
  --sidebar-width-xs: 20rem;
  --content-min-width: 16rem;
  --content-max-width: 48rem;
  --nav-z-index: 11;
  --sub-nav-z-index: 11;
  --sidebar-z-index: 40;
  --overlay-z-index: 30;
  --code-line-height: 1.4;
  --code-font-size: var(--tino-font-size-base);
  --code-bg-color: var(--tino-fill-color-light);
  --code-text-color: var(--text-color);
  --code-font-family: var(--font-family-mono);
  --code-tooltip-bg-color: var(--code-bg-color);
  --code-tooltip-color: #0C61C9;
  --block-tip-bg-color: rgba(var(--tino-color-primary-rgb), .1);
  --block-warning-bg-color: rgba(var(--tino-color-danger-rgb), .1);
  --link-active-bg-color: rgba(var(--tino-color-primary-rgb), .1);
}