@font-face {
  font-family: "iconfont"; /* Project id 3773009 */
  src: url('iconfont.woff2?t=1668691399316') format('woff2'),
       url('iconfont.woff?t=1668691399316') format('woff'),
       url('iconfont.ttf?t=1668691399316') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenzhangliebiaoxiangqing:before {
  content: "\e665";
}

.icon-youjian:before {
  content: "\e606";
}

.icon-tongxingbie:before {
  content: "\e619";
}

.icon-xiangji:before {
  content: "\e8c7";
}

.icon-licai:before {
  content: "\e600";
}

.icon-bianji:before {
  content: "\e601";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-daohang:before {
  content: "\e68d";
}

.icon-youjiantou1:before {
  content: "\e628";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-xiaoxi:before {
  content: "\e6a1";
}

.icon-meiyuan:before {
  content: "\e6dd";
}

.icon-xingbie_nan:before {
  content: "\e631";
}

