@font-face {
  font-family: "tino-iconfont"; /* Project id 3777985 */
  /* app 里面必须携带协议号 https */
  src: url('https://at.alicdn.com/t/c/font_3777985_t856jnpk1zf.woff2?t=1669270752514') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3777985_t856jnpk1zf.woff?t=1669270752514') format('woff'),
       url('https://at.alicdn.com/t/c/font_3777985_t856jnpk1zf.ttf?t=1669270752514') format('truetype');
}

.tino-iconfont {
  font-family: "tino-iconfont" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tino-icon-round-add-fill:before {
  content: "\e6d8";
}

.tino-icon-search:before {
  content: "\e6a4";
}

.tino-icon-lock:before {
  content: "\e62b";
}

.tino-icon-nav-bottom:before {
  content: "\e760";
}

.tino-icon-edit-solid:before {
  content: "\e649";
}

.tino-icon-log-out:before {
  content: "\e6be";
}

.tino-icon-help:before {
  content: "\e6fb";
}

.tino-icon-order:before {
  content: "\e7b3";
}

.tino-icon-setting:before {
  content: "\e67d";
}

.tino-icon-sticky-top:before {
  content: "\e664";
}

.tino-icon-address:before {
  content: "\e7bd";
}

.tino-icon-left-light:before {
  content: "\e629";
}

.tino-icon-eyes-open:before {
  content: "\e648";
}

.tino-icon-password:before {
  content: "\e605";
}

.tino-icon-user:before {
  content: "\e631";
}

.tino-icon-error-fill:before {
  content: "\e86f";
}

.tino-icon-image-load-error:before {
  content: "\e813";
}

.tino-icon-sex-female:before {
  content: "\e611";
}

.tino-icon-sex-male:before {
  content: "\e895";
}

.tino-icon-right-light:before {
  content: "\e642";
}

.tino-icon-licai:before {
  content: "\e600";
}

.tino-icon-wenzhangliebiaoxiangqing:before {
  content: "\e665";
}

.tino-icon-tongxingbie:before {
  content: "\e619";
}

.tino-icon-photo:before {
  content: "\e8c7";
}

.tino-icon-meiyuan:before {
  content: "\e6dd";
}

.tino-icon-edit:before {
  content: "\e601";
}

.tino-icon-message:before {
  content: "\e628";
}

.tino-icon-navigate:before {
  content: "\e7be";
}

.tino-icon-home:before {
  content: "\e674";
}

.tino-icon-mine:before {
  content: "\e60c";
}

.tino-icon-loading:before {
  content: "\e65e";
}

.tino-icon-right:before {
  content: "\e6a3";
}

.tino-icon-left:before {
  content: "\e952";
}

.tino-icon-close:before {
  content: "\e67e";
}

.tino-icon-like:before {
  content: "\e8c3";
}
