@font-face {
  font-family: "tino-iconfont"; /* Project id 3777985 */
  /* app 里面必须携带协议号 https */
  src: url('https://at.alicdn.com/t/c/font_3777985_5jjyv4sl078.woff2?t=1668843823346') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3777985_5jjyv4sl078.woff?t=1668843823346') format('woff'),
       url('https://at.alicdn.com/t/c/font_3777985_5jjyv4sl078.ttf?t=1668843823346') format('truetype');
}

.tino-iconfont {
  font-family: "tino-iconfont" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tino-icon-licai:before {
  content: "\e600";
}

.tino-icon-wenzhangliebiaoxiangqing:before {
  content: "\e665";
}

.tino-icon-tongxingbie:before {
  content: "\e619";
}

.tino-icon-xiangji:before {
  content: "\e8c7";
}

.tino-icon-meiyuan:before {
  content: "\e6dd";
}

.tino-icon-bianji:before {
  content: "\e601";
}

.tino-icon-message:before {
  content: "\e628";
}

.tino-icon-navigate:before {
  content: "\e7be";
}

.tino-icon-home:before {
  content: "\e674";
}

.tino-icon-mine:before {
  content: "\e60c";
}

.tino-icon-loading:before {
  content: "\e65e";
}

.tino-icon-right:before {
  content: "\e6a3";
}

.tino-icon-left:before {
  content: "\e952";
}

.tino-icon-close:before {
  content: "\e67e";
}

.tino-icon-dianzan:before {
  content: "\e8c3";
}

.tino-icon-yonghu:before {
  content: "\e788";
}

.#{$prefix}-icon {
  color: inherit;
  display: inline-block;
}