@import "@/assets/styles/tino-design-ui/dark.scss";
@import "@/assets/styles/tino-design-ui/variables.scss";
@font-face {
  font-family: "iconfont"; /* Project id 3777985 */
  src: url('//at.alicdn.com/t/c/font_3777985_glg3xntympt.woff2?t=1668755033381') format('woff2'),
       url('//at.alicdn.com/t/c/font_3777985_glg3xntympt.woff?t=1668755033381') format('woff'),
       url('//at.alicdn.com/t/c/font_3777985_glg3xntympt.ttf?t=1668755033381') format('truetype');
}

.tino-iconfont {
  font-family: "iconfont" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tino-icon-loading:before {
  content: "\e65e";
}

.tino-icon-right:before {
  content: "\e6a3";
}

.tino-icon-left:before {
  content: "\e952";
}

.tino-icon-close:before {
  content: "\e67e";
}

.tino-icon-like:before {
  content: "\e8c3";
}

.tino-icon-user:before {
  content: "\e788";
}

.#{$prefix}-icon {
  color: inherit;
  display: inline-block;
}