.#{$prefix}-input {
  --tino-input-text-color: var(--tino-text-color-regular);
  --tino-input-border: var(--tino-border);
  --tino-input-hover-border: var(--tino-border-color-hover);
  --tino-input-focus-border: var(--tino-color-primary);
  --tino-input-transparent-border: 0 0 0 2rpx transparent inset;
  --tino-input-border-color: var(--tino-border-color);
  --tino-input-border-radius: var(--tino-border-radius-base);
  --tino-input-bg-color: var(--tino-fill-color-blank);
  --tino-input-icon-color: var(--tino-text-color-placeholder);
  --tino-input-placeholder-color: var(--tino-text-color-placeholder);
  --tino-input-hover-border-color: var(--tino-border-color-hover);
  --tino-input-clear-hover-color: var(--tino-text-color-secondary);
  --tino-input-focus-border-color: var(--tino-color-primary);
  --tino-input-height: var(--tino-component-size);

  .#{$prefix}-input__wrapper {
    padding: 0 20rpx;
    font-size: 28rpx;
    box-sizing: border-box;
    height: var(--tino-input-height);
    border: var(--tino-input-border);
    background-color: var(--tino-input-bg-color);
    border-radius: var(--tino-input-border-radius);

    :deep(input) {
      width: 100%;
      height: 100%;

      .input-placeholder {
        color: var(--tino-input-placeholder-color);
      }
    }

    &.#{$prefix}-input__wrapper_focus {
      border: 4rpx solid var(--tino-input-focus-border-color);
    }

    &.#{$prefix}-input__wrapper_error {
      border: 4rpx solid #DA3F70;
    }
  }

  .#{$prefix}-input__error {
    line-height: 60rpx;
    color: #DA3F70;
    font-size: 1rem;
  }
}